@import "@fontsource/roboto/300.css";
@import "@fontsource/roboto/400.css";
@import "@fontsource/roboto/500.css";
@import "@fontsource/roboto/700.css";

@font-face {
  font-family: "Agustina";
  src: url("./assets/fonts/Agustina.woff") format("woff");
}

@font-face {
  font-family: "Google Sans Bold";
  src: url("./assets/fonts/GoogleSans-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Google Sans Bold Italic";
  src: url("./assets/fonts/GoogleSans-BoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Google Sans Italic";
  src: url("./assets/fonts/GoogleSans-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Google Sans Medium";
  src: url("./assets/fonts/GoogleSans-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Google Sans Medium Italic";
  src: url("./assets/fonts/GoogleSans-MediumItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Google Sans Regular";
  src: url("./assets/fonts/GoogleSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat Regular";
  src: url("./assets/fonts/Montserrat-Regular.ttf") format("truetype");
}

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.greeting-container {
  margin-top: 5rem;
  width: 100vw;
}